.customTransform {
  transform: translateX(-288px);
}

.customTransformDesc {
  transform: translateX(128px);
}

@media (min-width: 641px) and (max-width: 1024px) {
  .customTransform {
    transform: translateX(-192px);
  }

  .customTransformDesc {
    transform: translateX(18px);
  }
}
